Django==6.0.5
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
django-cors-headers==4.9.0
dj-database-url>=3.0,<4.0
gunicorn>=23.0,<24.0
Pillow==12.2.0
psycopg2-binary==2.9.12
python-dotenv==1.2.1
uvicorn>=0.38,<1.0
whitenoise[brotli]>=6.11,<7.0
